.bg-light {
  background: linear-gradient(45deg, purple, blue, skyblue);
}

.text-white {
  color: lightgray;
}

.font-sans {
  font-family: sans-serif;
}

.font-impact {
  font-family: impact;
}